.datepicker-inline {
    width: 100%!important;
    .datepicker-days {
        .table-condensed {
            width: 100%;
        }
    }
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active:active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:active {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.datepicker td, .datepicker th {
    height: 40px!important;
}
