/node_modules
/.idea
/public/hot
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/docs
/public/storage
/public/uploads
/storage/*.key
/storage/*.index
/storage/purify
/storage/garbage_media/*.*
/storage/uploads/*.*
/storage/logs/*
/public/purple/
storage/logs/laravel.log
_ide_helper.php
_ide_helper_models.php
/.docker-data

entrypoint.sh
./.mb-data
.php-cs-fixer.cache
storage/clockwork
/.vscode
composer.lock
